:root {
    --main-bg-color: #353535;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--main-bg-color);
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0vw 2vw;
    color: white;
    font-weight: bold;
    font-size: large;
}

.searchbar {
    display: flex;
    align-items: center;
    margin: 0vh 0vw 0vh 15vw;
}

.searchbar input {
    width: 30vw;
    padding: 0vh 1vw;
    border-radius: 20px;
}

.btn {
    margin: 0vh 2vw;
    color: white;
    cursor: pointer;
}

nav ul {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0vw 2vw 0vw auto;
}

nav ul li {
    list-style: none;
    padding: 0vw 2vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    font-size: large;
}

.container {
    min-height: calc(100vh - 5vh - 10vh);
    background-color: #D9D9D9;
}

.slider {
    height: 42vh;
    display: flex;
    justify-content: center
}

.slider img {
    height: 40vh;
    margin: 1vh 1vw;
}

.view-line{
    margin: 1vh 0vw;
}

.categories {
    background-color: white;
    display: flex;
    /* overflow: hidden; */
    justify-content: flex-start;
    margin: 5vh 0vw;
}
.category-item
{
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0vh 1vw;
}

.category-item img {
    border-radius: 100%;
    width: 100px;
    height: 125px;
  }

.category-item :hover{
    cursor: pointer;
}

.category-item img:hover{
    width: 110px;
    height: 135px;
    cursor: pointer;
 }

.card {
    background-color: white;
    max-width: 95vw;
    margin: 0vh 2vw;
}

.cards {
    background-color: white;
    display: flex;
    /* overflow: hidden; */
    justify-content: space-around;
    margin: 5vh 0vw;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0vh 1vw;
}

.card-item img {
    border-radius: 10%;
    width: 160px;
    height: 200px;
  }

.card-item:hover{
    cursor: pointer;
}

.card-item img:hover{
    width: 170px;
    height: 210px;
    cursor: pointer;
}

footer {
    background-color: var(--main-bg-color);
    height: 5vh;
    color: white;
}

.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-0{
    margin: 5px 0px;
}

.my-1{
    margin: 5px 0px;
}

.my-2{
    margin: 0vh 1vw -3vh 1vw;
}

.text-center{
    text-align: center;
}

@media screen and (max-width: 1000px) {

    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin: 0.5vh 0vw;
    }

    .searchbar {
        justify-content: center;
        margin: 0.5vh 0vw;
    }

    .searchbar input {
        width: 50vw;
    }

    nav ul {
        justify-content: center;
        margin: 0.5vh 0vw;
        height: 5vh;
    }

    nav ul li {
        padding: 0vh 8vw;
    }

    /* .slider{
        display: none;
    } */

    .slider img{
        width: 100vw;
    }

    .slider-img{
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 0vh 2vw;
    }

    .categories{
        flex-wrap: wrap;
        margin: 3vh 0vw;
    }

    .category-item{
        margin: 2vh 1vw;
    }

    .category-item img {
        border-radius: 100%;
        width: 60px;
        height: 75px;
    }

    .category-item img:hover {
        width: 70px;
        height: 85px;
        cursor: pointer;
    }

    .cards{
        flex-wrap: wrap;
        margin: 3vh 0vw;
    }

    .card-item{
        margin: 2vh 1vw;
    }

    .card-item img {
        border-radius: 10%;
        width: 100px;
        height: 125px;
    }

    .card-item img:hover {
        width: 110px;
        height: 135px;
        cursor: pointer;
    }

    .my-0{
        width: 60px;
    }

    .my-1{
        width: 110px;
    }
}